# built files
baseline/recognition/build
recognition/build
resample/build
detection/build

# sample input images
baseline/recognition/input

# training assets
baseline/recognition/training

# image and training data
baseline/recognition/data
# recognition/data
resample/data

# backup files
baseline/recognition/bak

# DS Store
.DS_Store

# vscode
.vscode
